.feinman__link {
  color: #000;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
}

.feinman__link:visited {
  color: #000;
}

.feinman__link:hover {
  opacity: 0.6;
  transition: opacity .3s ease-in;
}
