@import url(./__triangle/kaufman__triangle.css);
@import url(../table/table.css);
@import url(../table/_theme/table_theme_dark.css);
@import url(../table/__bank/table__bank.css);
@import url(../table/__cell/table__cell.css);
@import url(../table/__cell/_theme/table__cell_theme_dark.css);
@import url(../table/__heading/table__heading.css);
@import url(../table/__text/table__text.css);
@import url(../section-title/section-title.css);
@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);


.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1F1F1F;
  overflow: hidden;
}
