/* ALL */


.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}




/* HEADER */


.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  background-image: url(/images/logo.svg);
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  z-index: 2;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__link:visited {
  color: #2F80ED;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
}


/* DESCRIPRION */


.description {
  display: flex;
  margin: 100px 0;
  justify-content: center;
}

.two-columns{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  display: block;
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns-paragraph:nth-of-type(3){
  margin:0;
}

.two-columns__span-accent {
  font-weight: bold;
}


/* DIGITS */


.digits{
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 0 auto;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin:0;
}

.table__bank{
  margin: 20px 0 0 0;
}


/* FEINMAN */


.feinman {
  position: relative;
  text-align: center;
  height: 790px;
  background: url(/images/feinman.png) 867px 637px no-repeat;
  background-color: #f2f2f2;
  background-position: left bottom;
}

.feinman__title {
  display: inline-block;
  margin: 100px 0 70px 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feinman__subtitle {
  font-weight: normal;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
}

.feinman__link {
  color: #000;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
}

.feinman__link:visited {
  color: #000;
}


/* KAUFMAN */


.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1F1F1F;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}


/* TABLES */


.table__cell_theme_light {
  margin-top: 60px;
  width: 250px;
  color: black;
  }

.table_theme_dark{
  position: relative;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  }

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}


/* FOOTER */

.footer {
  position: relative;
  padding: 60px 0 40px 0;
  min-height: 350px;
  background-color: #1F1F1F;
  color: white;
}

.footer__columns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
  height: 350px;
}

.footer__column-content_copyright {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(/images/logo_white.svg);
  background-size: cover;
  height: 35px;
}

.footer__author{
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

.footer__column-links_link {
  color: white;
  text-decoration: none;
 }

.footer__column-links_link:visited {
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
