.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2F80ED;
  text-decoration: none;
  margin-left: 48px;
}

.khan__buy-link:visited {
  color: #2F80ED;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity .3s ease-in;
}
